name: Build Kaonic Host Tools

on:
  push:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build-host-tools:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'
          fetch-tags: true
          fetch-depth: 0

      - name: Cache APT packages
        uses: actions/cache@v4
        with:
          path: /var/cache/apt/archives
          key: apt-cache-${{ runner.os }}-${{ hashFiles('.github/workflows/build-host-tools.yml') }}
          restore-keys: |
            apt-cache-${{ runner.os }}-
      - name: Cache Cargo
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Install build dependencies
        run: |
          brew install protobuf
          brew install mingw-w64
          rustup target add x86_64-unknown-linux-gnu
          rustup target add aarch64-apple-darwin
          rustup target add x86_64-pc-windows-gnu

      - name: Add tools to Cargo workspace
        run: |
          echo 'exclude = ["kaonic-gui", "kaonic-iperf"]' >> ${{ github.workspace }}/Cargo.toml

      - name: Build 'kaonic-iperf'
        working-directory: ${{ github.workspace }}/kaonic-iperf
        run: |
          cargo build --release -p kaonic-iperf --target aarch64-apple-darwin
          cargo build --release -p kaonic-iperf --target x86_64-pc-windows-gnu

      - name: Prepare deploy package
        working-directory: ${{ github.workspace }}
        run: |
          echo "Make deploy directories"
          mkdir -p deploy/host-tools/
          mkdir -p deploy/host-tools/macos/
          mkdir -p deploy/host-tools/linux/
          mkdir -p deploy/host-tools/windows/
          echo "Copy artifacts"
          cp ${{ github.workspace }}/kaonic-iperf/target/aarch64-apple-darwin/release/kaonic-iperf deploy/host-tools/macos/
          cp ${{ github.workspace }}/kaonic-iperf/target/x86_64-pc-windows-gnu/release/kaonic-iperf.exe deploy/host-tools/windows/
          echo "Copy libraries"
          SYSROOT="$(x86_64-w64-mingw32-gcc -print-sysroot)"
          ls -la $SYSROOT
          SYSROOT="$SYSROOT/mingw"
          cp "$SYSROOT/bin/*.dll" deploy/host-tools/windows/
          cp "$SYSROOT/lib/*.dll" deploy/host-tools/windows/

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: kaonic-host-tools
          path: ${{ github.workspace }}/deploy/host-tools


